/**Código realizado por Pablo Sánchez Sanvicente 2015 **/


/*Empiezo con el código de NORMALIZE */


  html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }


  /* HTML5 display definitions
     ========================================================================== */

  /**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }

  /**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */

  audio,
  canvas,
  progress,
  video {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
  }


  /* Links
     ========================================================================== */

  /**
   * Remove the gray background color from active links in IE 10.
   */

  a {
    background-color: transparent;
  }

  /**
   * Improve readability of focused elements when they are also in an
   * active/hover state.
   */

  a:active,
  a:hover {
    outline: 0;
  }

  /**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari, and Chrome.
   */

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }



  /* Embedded content
     ========================================================================== */

  /**
   * Remove border when inside `a` element in IE 8/9/10.
   */

  img {
    border: 0;
  }

  /**
   * Correct overflow not hidden in IE 9/10/11.
   */

  svg:not(:root) {
    overflow: hidden;
  }



  /* Forms
     ========================================================================== */

  /**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */

  /**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */

  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit; /* 1 */
    font: inherit; /* 2 */
    margin: 0; /* 3 */
  }

  /**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */

  button {
    overflow: visible;
  }

  /**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
   * Correct `select` style inheritance in Firefox.
   */

  button,
  select {
    text-transform: none;
  }

  /**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */

  button,
  html input[type="button"], /* 1 */
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
  }

  /**
   * Re-set default cursor for disabled elements.
   */

  button[disabled],
  html input[disabled] {
    cursor: default;
  }

  /**
   * Remove inner padding and border in Firefox 4+.
   */

  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  /**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */

  input {
    line-height: normal;
  }

  /**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */

  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }

  /**
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decrement button to change from `default` to `text`.
   */

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  /**
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
   */

  input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    box-sizing: content-box; /* 2 */
  }

  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */

  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  /**
   * Define consistent border, margin, and padding.
   */

  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }

  /**
   * 1. Correct `color` not being inherited in IE 8/9/10/11.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */

  legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
  }

  /**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */

  textarea {
    overflow: auto;
  }

  /**
   * Don't inherit the `font-weight` (applied by a rule above).
   * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
   */

  optgroup {
    font-weight: bold;
  }

  /* Tables
     ========================================================================== */

  /**
   * Remove most spacing between table cells.
   */

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  td,
  th {
    padding: 0;
  }
  /*----------------------------******************************---------------------------------*************************
  Comienzo de mis estilos
  */
body {
  text-align: center;
    margin: 0;
    padding: 0;
    width: 98%;
    margin-right: auto;
    margin-left: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
 

}
body > * {
  padding: 5px;
  flex: 1 100%;
}
a{
  text-decoration: none;
  color: black;
  transition: all 1s;
}
main a:hover{
   transform: scale(1.3,1.3);

}
section{
  width: 40%;
  height: 150px;
  display: inline-block;
  background-color: #FFFFA4;
  text-align: left;
}
section a{
  color: red;
}

header{
  background-color: #FFC655;
 
}
body>header {
   border-radius: 45px 45px 0 0;
   background: linear-gradient(#FFC655,#FFFFF1);
  height: 100px;
  text-shadow: 0px 1px 0px #999,
    0px 2px 0px #888,
    0px 3px 0px #777,
    0px 4px 0px #666
    
}
section>header{
  background-color: #FFD466;
  height: 25px;

}
article{
  padding-left: 25%;
  margin-top: 10px;

}
a:hover{
  color: red;
}
nav li>a:hover{
  color: red;
  transform: scale(1.2,1.2);
}
main div{
  margin: 10px;
  display: inline-block;
  float: left;
}
#daw div{
  height: 50px;
  width: 50px;
  background-image: url("../img/linux.png");
  background-size: 100% 100%;
}
#diw div{
  height: 50px;
  width: 50px;
  background-image: url("../img/css.png");
  background-size: 100% 100%;
}
#dwes div{
  height: 50px;
  width: 80px;
  background-image: url("../img/php.png");
  background-size: 100% 100%;
}
#emp div{
  height: 50px;
  width: 50px;
  background-image: url("../img/emp.png");
  background-size: 100% 100%;
}
#hlc div{
  height: 50px;
  width: 50px;
  background-image: url("../img/android.png");
  background-size: 100% 100%;
}
#dwec>div{
  height: 50px;
  width: 50px;
  background-image: url("../img/js.png");
  background-size: 100% 100%;
}
div{

  height: 50px;
  width: 50px;
  
}
body>footer {
  background: #FFC655;
  border-radius: 0 0 45px 45px;
  font-size: 14px;

}

main {
  text-align: center;
  *background: #FFFFD4;
  background: linear-gradient(#FFFFF1,#FFC655,#FFFFF1,#FFC655);
    padding-bottom: 80px;
}

nav {
  text-align: left; 
  background: #FFC655;
  padding-top: 50px;
 background: linear-gradient(#FFFFF1,#FFC655,#FFFFF1,#FFC655);

}


@media all and (min-width: 600px) {
  nav{
    flex: 1 auto;
  }
}
@media all and (min-width: 800px) {
  main {
    flex: 5 0px;
  }

  nav {
    order: 1;
    flex: 1;
  }

  main {
    order: 2;
  }


  body>footer {
    order: 3;
  }
}

li{
  list-style-type: circle;
  transition: all 1s;
}

article>footer{
  font-size: 12px;
  margin-top: 10px;
  margin-right: 14px;
  text-align: right;
  *background-color: green;
}


/*---------------------------------------*/
/* FORMULARIO**/

input[required]{
  border-color:green;
  box-shadow: 0px 0px 5px green;
}

input:invalid{
  border-color:red;
  box-shadow: 0px 0px 10px red;
  border-radius: 0px 5px 0px 5px;
}

form table{
  width:100%;
  border: 0px solid white;
  padding: 0px;
  margin:auto;
}

form{
  
  color:black;
  text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
  border: 1px solid black;
  border-radius: 0px 15px 0px 15px;
  box-shadow: 10px 10px 25px rgba(0,0,0,0.5);
  background-color: #FFFFBE;
  margin:auto;
  width:500px;
  padding:10px;
}
form input, form textarea{
  font-size:10px;
  background:rgba(255,255,255,0.5);
  border: 1px dotted rgba(255,255,255,1);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  border-radius: 5px;
  transition: background 1s, box-shadow: 1s; border 1s;
}

form input:hover, form textarea:hover{
  background:rgba(255,255,255,1);
  box-shadow: 0px 0px 5px rgba(255,255,255,1);
  -webkit-box-shadow: 0px 0px 5px rgba(255,255,255,1);
  border: 1px dotted rgba(0,0,0,1);
}
form textarea[required]{
  border-color:green;
  box-shadow: 0px 0px 5px green;
}


